In [1]:
import pandas as pd
import pyodbc
import numpy as np

pd.options.display.max_columns = None

# Данные покупателей

In [2]:
with pyodbc.connect('DRIVER={SQL SERVER};SERVER=DESKTOP-CCQDQVO', timeout= 1e6) as conn:
    strq = 'SELECT * FROM X5_RETAIL.dbo.X5_DATA_SET'
    df_clients = pd.read_sql(strq, conn)

display(df_clients.head())
display(df_clients.describe())
print(df_clients.shape)

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,regular_balance,express_balance,Total_Amount,Amount_BonusDiscount_purchs,BonusDiscount,MeanChk,avg_regular_points_received,avg_express_points_received,avg_regular_points_spent,avg_express_points_spent,MeanItemCost,Chks,Part_BonusDiscount_purchs,cnt_BonusDiscount_purchs,last_chk_ago,Mean_TOP_1_BRAND,Mean_TOP_2_BRAND,Mean_TOP_3_BRAND,Mean_TOP_4_BRAND,Mean_TOP_5_BRAND,Mean_TOP_1_SEG,Mean_TOP_2_SEG,Mean_TOP_3_SEG,Mean_TOP_4_SEG,Mean_TOP_5_SEG,Mean_alc,Mean_CTM,Part_alc_purchs,PArt_CTM_purchs,cnt_alc_purchs,cnt_CTM_purchs,Mean_diffs,first_order_date,age,LoveBonuses,Gender
0,3412572c1f,58.7,0.0,90.0,0.0,-31.3,0.0,6720.45,929.84,0.088249,448.030000,3.913333,0.0,6.0,0.0,80.969277,15,0.133333,2,0,0.118718,0.042350,0.038889,0.000000,0.018462,0.075812,0.0,0.000000,0.000000,0.037222,NaN,0.185073,0.000000,0.466667,0,7,8.0,2018-11-22 10:48:00,54,0,0
1,4a9a836422,17.4,0.0,0.0,0.0,17.4,0.0,2398.60,0.00,0.000000,399.766667,2.900000,0.0,0.0,0.0,70.547059,6,0.000000,0,9,0.078704,0.018519,0.013889,0.032407,0.180556,0.000000,0.0,0.046296,0.013889,0.000000,0.111111,0.185185,0.166667,0.500000,1,3,20.0,2018-11-25 14:12:24,48,0,-1
2,1cb48afdf2,55.6,0.0,0.0,0.0,55.6,0.0,4143.01,0.00,0.000000,828.602000,11.120000,0.0,0.0,0.0,101.049024,5,0.000000,0,0,0.145808,0.094444,0.025000,0.130404,0.018182,0.102626,0.0,0.130404,0.090404,0.040000,NaN,0.227626,0.000000,1.000000,0,5,3.0,2019-03-03 06:45:03,45,2,-1
3,fbf1a49218,105.1,0.0,0.0,0.0,105.1,0.0,13440.56,0.00,0.000000,560.023333,4.379167,0.0,0.0,0.0,78.599766,24,0.000000,0,1,0.352680,0.014803,0.061288,0.059650,0.048144,0.012610,0.0,0.059650,0.015278,0.061463,NaN,0.171792,0.000000,0.666667,0,16,5.0,2018-11-22 14:57:58,28,0,1
4,b4c4da0316,14.7,0.0,0.0,0.0,14.7,0.0,2114.93,0.00,0.000000,422.986000,2.940000,0.0,0.0,0.0,91.953478,5,0.000000,0,12,0.033333,0.000000,0.000000,0.101905,0.000000,0.033333,0.0,0.101905,0.050000,0.000000,0.166667,0.225397,0.200000,0.600000,1,3,23.0,2018-12-03 18:32:40,34,0,0

,regular_points_received,express_points_received,regular_points_spent,express_points_spent,regular_balance,express_balance,Total_Amount,Amount_BonusDiscount_purchs,BonusDiscount,MeanChk,avg_regular_points_received,avg_express_points_received,avg_regular_points_spent,avg_express_points_spent,MeanItemCost,Chks,Part_BonusDiscount_purchs,cnt_BonusDiscount_purchs,last_chk_ago,Mean_TOP_1_BRAND,Mean_TOP_2_BRAND,Mean_TOP_3_BRAND,Mean_TOP_4_BRAND,Mean_TOP_5_BRAND,Mean_TOP_1_SEG,Mean_TOP_2_SEG,Mean_TOP_3_SEG,Mean_TOP_4_SEG,Mean_TOP_5_SEG,Mean_alc,Mean_CTM,Part_alc_purchs,PArt_CTM_purchs,cnt_alc_purchs,cnt_CTM_purchs,Mean_diffs,age,LoveBonuses,Gender
count,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,400162.000000,171776.000000,387763.000000,400162.000000,400162.000000,400162.000000,400162.000000,392455.000000,400162.000000,400162.000000,400162.000000
mean,78.055735,0.799151,73.411238,6.419065,4.644496,-5.619914,8607.498564,588.508031,0.112693,496.309610,4.769301,0.037837,3.939656,0.631401,77.114354,20.104930,0.072096,1.260982,5.839233,0.131481,0.044958,0.057714,0.044263,0.038314,0.054133,0.022487,0.041114,0.033771,0.034718,0.294368,0.287007,0.086037,0.540364,1.663109,10.048535,8.893838,46.488112,0.551777,-0.297127
std,97.878492,7.722902,130.275276,16.258151,88.821100,17.282709,8952.015674,1218.062158,0.141913,375.010418,5.086914,0.492180,9.375344,2.579618,35.056884,17.729177,0.105362,1.684042,5.672085,0.097815,0.065365,0.055006,0.044971,0.054147,0.066407,0.063941,0.044048,0.050742,0.054752,0.227108,0.135096,0.167050,0.268599,4.418419,9.629953,10.569633,43.871218,0.893923,0.736711
min,0.000000,0.000000,0.000000,0.000000,-5026.100000,-210.000000,1.040000,0.000000,0.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.051481,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012658,0.023256,0.000000,0.000000,0.000000,0.000000,0.000000,-7491.000000,0.000000,-1.000000
25%,23.300000,0.000000,0.000000,0.000000,-12.400000,0.000000,3146.660000,0.000000,0.000000,261.697143,1.677778,0.000000,0.000000,0.000000,59.415370,8.000000,0.000000,0.000000,1.000000,0.063492,0.000000,0.021974,0.007143,0.002674,0.007576,0.000000,0.003453,0.000000,0.000000,0.130357,0.195592,0.000000,0.333333,0.000000,4.000000,3.000000,34.000000,0.000000,-1.000000
50%,49.200000,0.000000,27.000000,0.000000,9.100000,0.000000,6111.350000,184.710000,0.059747,394.332467,3.200000,0.000000,1.375000,0.000000,71.637681,15.000000,0.042553,1.000000,4.000000,0.113426,0.022442,0.046786,0.031746,0.022222,0.035332,0.000000,0.028409,0.016486,0.016204,0.225000,0.258234,0.000000,0.538462,0.000000,7.000000,6.000000,45.000000,0.000000,0.000000
75%,96.800000,0.000000,98.000000,0.000000,33.000000,0.000000,11101.922500,699.000000,0.173238,609.184554,6.080000,0.000000,4.714286,0.000000,87.513202,27.000000,0.100000,2.000000,9.000000,0.177778,0.059295,0.078764,0.070635,0.051146,0.075560,0.004914,0.066501,0.046935,0.046377,0.378788,0.345238,0.100000,0.750000,2.000000,14.000000,10.000000,59.000000,2.000000,0.000000
max,8635.000000,310.000000,10131.000000,330.000000,1707.900000,300.000000,525337.710000,78483.850000,0.500000,8762.000000,204.600000,100.000000,932.000000,50.000000,4426.800000,320.000000,1.000000,48.000000,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,174.000000,246.000000,113.000000,1901.000000,2.000000,1.000000

(400162, 41)

In [3]:
df_clients.to_csv(r'X5_clients_data.csv', index = False, sep = ';')

In [2]:
df_clients = pd.read_csv(r'X5_clients_data.csv', sep = ';')

In [3]:
df_clients = df_clients.merge(
                            pd.read_csv(r"uplift_train.csv", sep = ','), on = 'client_id')

In [4]:
df_clients.iloc[:, [1,2,3,4, 12, 13]] = np.abs(df_clients.iloc[:, [1,2,3,4, 12, 13]])

In [6]:
df_clients.to_csv(r'X5_clients_data_train.csv', index = False, sep = ';')

In [5]:
display(df_clients.head())
display(df_clients.describe())
print(df_clients.shape)

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,regular_balance,express_balance,Total_Amount,Amount_BonusDiscount_purchs,BonusDiscount,MeanChk,avg_regular_points_received,avg_express_points_received,avg_regular_points_spent,avg_express_points_spent,MeanItemCost,Chks,Part_BonusDiscount_purchs,cnt_BonusDiscount_purchs,last_chk_ago,Mean_TOP_1_BRAND,Mean_TOP_2_BRAND,Mean_TOP_3_BRAND,Mean_TOP_4_BRAND,Mean_TOP_5_BRAND,Mean_TOP_1_SEG,Mean_TOP_2_SEG,Mean_TOP_3_SEG,Mean_TOP_4_SEG,Mean_TOP_5_SEG,Mean_alc,Mean_CTM,Part_alc_purchs,PArt_CTM_purchs,cnt_alc_purchs,cnt_CTM_purchs,Mean_diffs,first_order_date,age,LoveBonuses,Gender,treatment_flg,target
0,27159c9807,17.1,0.0,0.0,0.0,17.1,0.0,2950.17,0.00,0.000000,268.197273,1.554545,0.0,0.000000,0.0,86.769706,11,0.000000,0,7,0.024351,0.000000,0.011364,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.025974,NaN,NaN,0.0,0.000000,0,0,10.0,2018-11-26 13:09:43,26,0,-1,0,1
1,b1b5ea0726,21.2,0.0,6.0,0.0,15.2,0.0,2334.64,190.75,0.030496,466.928000,4.240000,0.0,1.200000,0.0,41.690000,5,0.200000,1,7,0.161603,0.028718,0.056603,0.074551,0.013333,0.059167,0.00000,0.061218,0.046667,0.000000,NaN,0.112420,0.0,0.800000,0,4,19.0,2018-12-22 10:20:58,35,0,-1,1,0
2,8399c72ebf,26.2,0.0,0.0,0.0,26.2,0.0,4534.55,0.00,0.000000,251.919444,1.455556,0.0,0.000000,0.0,66.684559,18,0.000000,0,3,0.097222,0.000000,0.011111,0.043519,0.072222,0.000000,0.00000,0.043519,0.018519,0.081481,NaN,0.360417,0.0,0.444444,0,8,6.0,2018-11-25 09:49:15,23,2,0,1,0
3,d5b8aff1ad,13.7,0.0,0.0,0.0,13.7,0.0,2359.99,0.00,0.000000,181.537692,1.053846,0.0,0.000000,0.0,52.444222,13,0.000000,0,0,0.182051,0.125000,0.041026,0.009615,0.156410,0.131410,0.00000,0.009615,0.066667,0.000000,NaN,0.321429,0.0,0.538462,0,7,5.0,2019-01-15 09:59:17,69,0,-1,1,1
4,a6fd598f71,90.4,0.0,149.0,0.0,-58.6,0.0,8259.32,1014.49,0.128063,485.842353,5.317647,0.0,8.764706,0.0,63.048244,17,0.117647,2,0,0.258978,0.043534,0.043282,0.040389,0.015686,0.063800,0.01634,0.040389,0.012537,0.029412,NaN,0.203293,0.0,0.647059,0,11,6.0,2018-11-27 09:50:48,23,0,-1,1,0

,regular_points_received,express_points_received,regular_points_spent,express_points_spent,regular_balance,express_balance,Total_Amount,Amount_BonusDiscount_purchs,BonusDiscount,MeanChk,avg_regular_points_received,avg_express_points_received,avg_regular_points_spent,avg_express_points_spent,MeanItemCost,Chks,Part_BonusDiscount_purchs,cnt_BonusDiscount_purchs,last_chk_ago,Mean_TOP_1_BRAND,Mean_TOP_2_BRAND,Mean_TOP_3_BRAND,Mean_TOP_4_BRAND,Mean_TOP_5_BRAND,Mean_TOP_1_SEG,Mean_TOP_2_SEG,Mean_TOP_3_SEG,Mean_TOP_4_SEG,Mean_TOP_5_SEG,Mean_alc,Mean_CTM,Part_alc_purchs,PArt_CTM_purchs,cnt_alc_purchs,cnt_CTM_purchs,Mean_diffs,age,LoveBonuses,Gender,treatment_flg,target
count,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.00000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000,85912.000000,193880.000000,200039.000000,200039.000000,200039.000000,200039.000000,196219.000000,200039.000000,200039.000000,200039.000000,200039.000000,200039.000000
mean,78.022883,0.796720,73.397088,6.454331,4.625795,-5.657612,8597.521955,585.270043,0.112710,495.783222,4.762904,0.038328,3.935118,0.630199,77.096792,20.120821,0.071780,1.25780,5.828868,0.131215,0.045033,0.057777,0.044185,0.038410,0.054028,0.022394,0.041037,0.033803,0.034698,0.294717,0.286990,0.086030,0.539959,1.657737,10.049480,8.900076,46.417329,0.552672,-0.296547,0.499808,0.619889
std,98.582251,7.655577,132.516680,16.306043,89.682951,17.307266,8914.597077,1201.394707,0.141952,374.548483,5.058516,0.510163,9.145856,2.550302,35.309049,17.732130,0.104964,1.68463,5.668016,0.097788,0.065461,0.055120,0.044964,0.054367,0.066366,0.063410,0.044073,0.050956,0.054813,0.227543,0.135081,0.167211,0.268285,4.396483,9.645702,10.557729,49.532475,0.894372,0.737329,0.500001,0.485415
min,0.000000,0.000000,0.000000,0.000000,-4919.800000,-210.000000,1.040000,0.000000,0.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.065000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012671,0.023256,0.000000,0.000000,0.000000,0.000000,0.000000,-7491.000000,0.000000,-1.000000,0.000000,0.000000
25%,23.300000,0.000000,0.000000,0.000000,-12.200000,0.000000,3147.615000,0.000000,0.000000,261.290000,1.677460,0.000000,0.000000,0.000000,59.412136,8.000000,0.000000,0.00000,1.000000,0.063268,0.000000,0.021877,0.007092,0.002709,0.007576,0.000000,0.003333,0.000000,0.000000,0.130952,0.195406,0.000000,0.333333,0.000000,4.000000,3.000000,34.000000,0.000000,-1.000000,0.000000,0.000000
50%,49.200000,0.000000,27.000000,0.000000,9.200000,0.000000,6102.440000,183.000000,0.059908,393.999846,3.200000,0.000000,1.363636,0.000000,71.633037,15.000000,0.041667,1.00000,4.000000,0.112962,0.022523,0.046759,0.031716,0.022222,0.035261,0.000000,0.028269,0.016595,0.016162,0.225000,0.257985,0.000000,0.538462,0.000000,7.000000,6.000000,45.000000,0.000000,0.000000,0.000000,1.000000
75%,96.700000,0.000000,98.000000,0.000000,33.100000,0.000000,11094.185000,698.000000,0.173150,608.740000,6.064435,0.000000,4.705882,0.000000,87.505172,27.000000,0.100000,2.00000,9.000000,0.177366,0.059259,0.078789,0.070426,0.051314,0.075331,0.004940,0.066394,0.046847,0.046296,0.380252,0.345556,0.100000,0.750000,2.000000,14.000000,10.000000,59.000000,2.000000,0.000000,1.000000,1.000000
max,8635.000000,310.000000,10131.000000,330.000000,1553.600000,300.000000,504490.380000,78483.850000,0.500000,7694.000000,204.600000,100.000000,669.000000,50.000000,4426.800000,320.000000,1.000000,39.00000,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,161.000000,246.000000,113.000000,1852.000000,2.000000,1.000000,1.000000,1.000000

(200039, 43)

In [8]:
df_clients.BonusDiscount.value_counts()

0.000000    78099
0.500000       14
0.500000       11
0.500000       11
0.500000       10
            ...
0.181247        1
0.274394        1
0.371963        1
0.062422        1
0.064822        1
Name: BonusDiscount, Length: 117784, dtype: int64

# Данные для обучения

In [7]:
df_train = pd.read_csv('uplift_train.csv')
display(df_train.head())
display(df_train.tail())
display(df_train.describe())
print(df_train.shape)

    client_id  treatment_flg  target
0  000012768d              0       1
1  000036f903              1       1
2  00010925a5              1       1
3  0001f552b0              1       1
4  00020e7b18              1       1

         client_id  treatment_flg  target
200034  fffe0abb97              0       0
200035  fffe0ed719              0       1
200036  fffea1204c              0       1
200037  fffeca6d22              1       0
200038  fffff6ce77              0       1

       treatment_flg         target
count  200039.000000  200039.000000
mean        0.499808       0.619889
std         0.500001       0.485415
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       1.000000
75%         1.000000       1.000000
max         1.000000       1.000000

(200039, 3)